h1{
    font-family:  "Lato", sans-serif;
    font-weight: normal;
}

div{
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

#foc{
    display: flex;
    justify-content: space-around;
}