<div>
  <div > <img (click)="onClick(1)" (mouseenter)="mouseEnter(1)"  (mouseleave)="mouseLeave(1)" src="assets/img/1.png" alt=""> </div>  <br>
  <div > <img (click)="onClick(2)" (mouseenter)="mouseEnter(2)"  (mouseleave)="mouseLeave(2)" src="assets/img/2.png" alt=""> </div> <br>
  <div > <img (click)="onClick(3)" (mouseenter)="mouseEnter(3)"  (mouseleave)="mouseLeave(3)" src="assets/img/3.png" alt=""> </div> <br>
  <div > <img (click)="onClick(4)" (mouseenter)="mouseEnter(4)"  (mouseleave)="mouseLeave(4)" src="assets/img/4.png" alt=""> </div> <br>
</div>
