<div class="status-message">
    <div class="message-text">{{status}}</div>
</div>

<div class="main">
  <div > <img class="material-button-raised" (click)="onClick(1)" (mouseenter)="mouseEnter(1)"  (mouseleave)="mouseLeave(1)" src="assets/img/1.jpg" alt=""> </div> <br>
  <div > <img class="material-button-raised" (click)="onClick(2)" (mouseenter)="mouseEnter(2)"  (mouseleave)="mouseLeave(2)" src="assets/img/2.jpg" alt=""> </div> <br>
  <div > <img class="material-button-raised" (click)="onClick(3)" (mouseenter)="mouseEnter(3)"  (mouseleave)="mouseLeave(3)" src="assets/img/3.jpg" alt=""> </div> <br>
  <div > <img class="material-button-raised" (click)="onClick(4)" (mouseenter)="mouseEnter(4)"  (mouseleave)="mouseLeave(4)" src="assets/img/4.jpg" alt=""> </div> <br>
  <div > <img class="material-button-raised" (click)="onClick(4)" (mouseenter)="mouseEnter(4)"  (mouseleave)="mouseLeave(4)" src="assets/img/5.jpg" alt=""> </div> <br>
</div>
